<ion-content class="body-page" [fullscreen]="true">
  <div class="sub-layer"></div>
  <div class="login-face">
    <ion-icon class="app-icon" name="accessibility-outline"></ion-icon>
    <h1 class="app-name">TÊN APP</h1>
    <p class="app-slogan">JJ đó</p>
  </div>
  <div class="login-container">
    <form class="login-form">
      <ion-item class="form-item">
        <ion-icon class="input-icon" name="person-circle-outline"></ion-icon>
        <ion-input class="login-inp" placeholder="Số điện thoại"></ion-input>
      </ion-item>
      <ion-item class="form-item">
        <ion-icon class="input-icon" name="lock-closed-outline"></ion-icon>
        <ion-input class="login-inp" placeholder="Mật khẩu"></ion-input>
      </ion-item>
    </form>
  </div>
</ion-content>
