<ion-content [fullscreen]="true">
  <div class="map-bubble">
    <div class="search-native">
      <ion-searchbar class="search-bar" (ionInput)="changeLocateSearch($event)"></ion-searchbar>
    </div>
    <div class="result-block">
      <div (click)="markToResult(i.place_id)" class="results-items" *ngFor="let i of foundPlaces">
        <ion-icon class="locate-icon" name="search-outline"></ion-icon>
        <p class="results">{{i.description}}</p>
      </div>
    </div>
    <div class="marked-container">
      <p class="marked-name" *ngIf="markerPlace">{{markerPlace.formatted_address}}</p>
    </div>
  </div>
  <div id="map" class="google-map" style="height: 100%;"></div>
</ion-content>